body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b1b;
  font-family: 'Poppins';
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.content-info {
  display: grid;
  margin-top: 50px;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.card {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fab8b8dc;
  width: 350px;
  height: 3rem;
  border-radius: 30px;
  border: 1px solid #b3b3b3;
}

.footer {
  display: flex;
  gap: 1rem;
  margin-top: 50px;
}

.footer-icon {
  width: 40px;
  height: auto;
}